@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-agregar {
    background-color: #2d8a34;
    color: white;
    padding: 10px 16px;
    border-radius: 8px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.2s ease;
}
.btn-agregar:hover {
    background-color: #226a29;
}

